- return unless current_user

%ul
  %li.current-user
    .user-name.bold
      = current_user.name
    = current_user.to_reference
  %li.divider
  - if current_user_menu?(:profile)
    %li
      = link_to s_("CurrentUser|Profile"), current_user, class: 'profile-link', data: { user: current_user.username }
  - if current_user_menu?(:settings)
    %li
      = link_to s_("CurrentUser|Settings"), profile_path
  - if current_user_menu?(:help)
    %li
      = link_to _("Help"), help_path
  - if current_user_menu?(:help) || current_user_menu?(:settings) || current_user_menu?(:profile)
    %li.divider
  = render 'shared/user_dropdown_contributing_link'
  - if instance_review_permitted?
    = render 'shared/user_dropdown_instance_review'
  - if current_user_menu?(:sign_out)
    %li
      = link_to _("Sign out"), destroy_user_session_path, class: "sign-out-link"
